@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poor+Story&family=Rubik&display=swap');

body {
  background-color: rgb(245, 220, 224);
  text-align: center;
}

/* styling for the homepage image */
#waluigi { 
  max-width: 100%;
  height: auto;
}

/* general text styling */
h1 {
  font-family: 'Permanent Marker', sans-serif, cursive;
  background-color: blueviolet;
  text-align: center;
  font-size: xxx-large;
}

h2, p {
  font-family: 'Poor Story', sans-serif, cursive;
  text-align: center;
  font-size: xx-large;
}

#instructions {
  font-family: 'Rubik', sans-serif, cursive;
  text-align: center;
  font-size: large;
}

#index-footer {
  font-family: 'Poor Story', sans-serif, cursive;
  text-align: left;
  font-size: x-large;
}

#quiz-footer {
  font-family: 'Poor Story', sans-serif, cursive;
  text-align: center;
  font-size: x-large;
}

/* styling for the quiz */
.flex {display:block;}

.field {
  min-width: 100px;
  min-height: 30px;
  margin-top: 15px;
  font-family: 'Rubik', sans-serif, cursive;
  font-size: x-large;
}

#score {
  display: inline-block;
  box-shadow: inset -2px -2px 0px 5px rgb(0, 0, 0);
  border-radius: 10px;
  padding: 15px;
  background-color: rgb(195, 227, 240);
}

#finalscore {
  min-width: 100px;
  min-height: 30px;
  margin-top: 15px;
  font-family: 'Rubik', sans-serif, cursive;
  font-size: large;
  display: inline-block;
  box-shadow: inset -2px -2px 0px 5px rgb(0, 0, 0);
  border-radius: 10px;
  padding: 15px;
  background-color: rgb(195, 227, 240);
}

button {
  height: 65px;
  width: 200px;
  outline: none;
  background: yellow;
  border: black solid 2px;
  font-size: medium;
  font-weight: bold; 
}

button:hover {
  cursor: pointer;
  background: rgb(119, 119, 25);
}

button:active {
  background: rgb(195, 227, 240);
}

#quizscore, #tohomepage {
  position: relative;
  bottom: 300px;
}

#endQuiz {
  border: black ridge 8px;
  margin-top: 30px;
}